html {
        
        background-image: url(assets/images/white-wood.jpg);

}
#wrapper {
    color: black;
    width: 960px;
    margin: auto;
    background: transparent;
    font-family: Philosopher;

}
#name-link {
    font-size: 40px;
}
#header {
    
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 10px;

    }

    ul li a {
        font-size: 20px;
    }
#row-1 {
    margin-top: 45px;
    
}

#form-container {
    border: solid 3px #800020;
    margin-bottom: 40px;
    background-color: #666666;
    color: black;
}

#form-box {
    margin-bottom: 10px;
    width: 100%;
    color: white;
}

#name-input{
    display: block;
    width: 500px;

}

#email-input{
    width: 500px;
    display: block;
}

#message-input {
    display: block;
    height: 25%;
    width: 500px;
    
}

#submit-button {
    display: block;
    background-color: white;
    }

#footer {
    top: 100%;
    text-align: center;
    background-color: #666666;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
    border-top: 5px solid #800020;
    color: white;
    font-family: Philosopher;
    font-size: 16px;
    
}

#img-box{
    float:left;
    margin-right: 20px;

}



#photo-1 {
    height: 150px;
    width: 150px;
}


#img-prg-box {
    display: inline-block;
    float: left;
    margin-top:30px;
    margin-bottom: 30px;

}

a img {
    height: 50px;
    width: 50px;
}

#github-icon {
    display: inline-block;
}

#linkedin-icon {
    display: inline-block;
}

#stack-icon {
    display: inline-block;
}

#social-box {
    float: left;
    border: solid 3px #800020;
    margin-left: 80px;
    background-color: #666666;
    color: white;
    font-family: Philosopher

}

#icon-links {
    margin-top: 40px;
    margin-bottom: 71px;
}

#icon-list {
    padding-left: 8%;
}

#sidebar-header {
    
}

#about-header {
    color: white;

}



