html {
		
		background-image: url(assets/images/white-wood.jpg);

}
#wrapper {
	color: black;
	width: 960px;
	margin: auto;
	background: transparent;
	font-family: Philosopher;

}
#name-link {
	font-size: 40px;
}
#header {
	
	margin-top: 25px;
	padding-top: 20px;
	padding-bottom: 10px;

	}

	ul li a {
		font-size: 20px;
	}

	ul {
		border-bottom-style: none;
	}
#row-1 {
	margin-top: 45px;
	
}

#about-box {
	border: solid 2px #800020;
	margin-right: 
	margin-bottom: 40px;
	background-color: #666666;
	color: white;
}

#main-content {
	float:left;
	line-height: 2.0;
}
#footer {
	top: 100%;
	text-align: center;
	background-color: #666666;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
	border-top: 5px solid #800020;
	color: white;
	font-family: Philosopher;
	font-size: 16px;
	
}

#img-box{
	float:left;
	margin-right: 20px;

}



#photo-1 {
	height: 150px;
	width: 150px;
}


#img-prg-box {
	display: inline-block;
	float: left;
	margin-top:30px;
	margin-bottom: 30px;

}

a img {
	height: 50px;
	width: 50px;
}

#github-icon {
	display: inline-block;
}

#linkedin-icon {
	display: inline-block;
}

#stack-icon {
	display: inline-block;
}

#social-box {
	float: left;
	border: solid 1px;
	margin-left: 80px;
	background-color: #666666;
	color: white;
	border: 2px solid #800020;

}

#icon-links {
	margin-top: 40px;
	margin-bottom: 71px;
}

#icon-list {
	padding-left: 8%;
}

#sidebar-header {
	
}


